<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
   <div class="d-flex justify-content-center align-items-center vh-100 p-5">
        <form action="/login" method="post" class="row justify-content-center container border p-5">
            <div class="col-12 col-md-6 mx-5 ">
                <label for="username" class="form-label">User Name:</label>
                <input id="username" type="text" class="form-control" placeholder="Enter the user name" name="userName">
            </div>
            <div class="col-12 col-md-6 mx-5">
                <label for="passwd" class="form-label">Password:</label>
                <input id="passwd" type="password" class="form-control" placeholder="Enter the password" name="password">
                <a href="/forgot-password" class="text-decoration-none small">Forgot password?</a>
            </div>
            <% if(error){ %>
                <div class="col-12 col-md-6 mx-5">
                    <p class="text-danger"><%= error %></p>
                </div>
            <% } %>
            <button type="submit" class="col-12 col-md-6 btn btn-primary d-block mx-auto mt-5">Log in</button>
        </form>
   </div>
   

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>